@model WebApplication1.Models.Event

@{
    ViewData["Title"] = "Create";
}

    <h1 class="heading">Create</h1>

    <h4 class="heading">Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <table>
                <tr>
                    <td>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </td>
                </tr>
                <tr class="form-group">
                    <td>
                        <label asp-for="Name" class="control-label"></label>
                    </td>
                    <td>
                        <input asp-for="Name" class="form-control" />
                    </td>
                    <td>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </td>
                </tr>
                <tr class="form-group">
                    <td>
                        <label asp-for="Description" class="control-label"></label>
                    </td>
                    <td>
                        <textarea asp-for="Description" class="form-control"> </textarea>
                    </td>
                    <td>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </td>
                </tr>
                <tr class="form-group">
                    <td>
                        <label asp-for="MemberId" class="control-label"></label>
                    </td>
                    <td>
                        <input asp-for="MemberId" class="form-control" />
                    </td>
                    <td>
                        <span asp-validation-for="MemberId" class="text-danger"></span>
                    </td>
                </tr>
                <tr class="form-group">
                    <td>
                        <label asp-for="Date" class="control-label"></label>
                    </td>
                    <td>
                        <input asp-for="Date" class="form-control" />
                    </td>
                    <td>
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </td>
                </tr>
                <tr class="form-group">
                    <td>
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<tr>
    <td>
        <a asp-action="Index">Back to List</a>
    </td>
</tr>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
