@model EventSchduleViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<h4>Schedule</h4>
<table class="pure-table pure-table-horizontal">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Members)</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Members)
        {

            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
            </tr>
        }



    </tbody>
</table>
