@using Microsoft.AspNetCore.Http

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AFTS</title>


    <environment include="Development">
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">

        <!--[if lte IE 8]>
            <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
        <!--<![endif]-->
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/layouts/pricing-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="css/layouts/price.css">
        <!--<![endif]-->
        <link rel="stylesheet" href="~/css/price.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">

        <!--[if lte IE 8]>
            <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
        <!--<![endif]-->
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/layouts/pricing-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="css/layouts/price.css">
        <!--<![endif]-->
        <link rel="stylesheet" href="~/css/price.css" />
    </environment>
</head>
<body>

    <div class="pure-menu pure-menu-horizontal">
        <a <a asp-controller="Home" asp-action="Index" class="pure-menu-heading">Your Logo</a>
           <ul class="pure-menu-list">
               <li class="pure-menu-item"><a asp-controller="Home" asp-action="Index" class="pure-menu-link">Home</a></li>
               <li class="pure-menu-item"><a asp-controller="Coaches" asp-action="Index" class="pure-menu-link">Coaches</a></li>
               <li class="pure-menu-item"><a asp-controller="Roles" asp-action="Index" class="pure-menu-link">Roles</a></li>
               <li class="pure-menu-item"><a asp-controller="Events" asp-action="Index" class="pure-menu-link">Events</a></li>
               <li class="pure-menu-item"><a asp-controller="Members" asp-action="Index" class="pure-menu-link">Members</a></li>
               <li class="pure-menu-item"><a asp-controller="Schedules" asp-action="Index" class="pure-menu-link">Schedules</a></li>

               @if (Context.Session.GetString("MemberId") != null)
               {
                   <li class="pure-menu-item"><a asp-controller="Home" asp-action="Logout" class="pure-menu-link">Logout</a></li>
               }
               else
               {
                   <li class="pure-menu-item"><a asp-controller="Home" asp-action="Register" class="pure-menu-link">Register</a></li>
                   <li class="pure-menu-item"><a asp-controller="Home" asp-action="Login" class="pure-menu-link">Login</a></li>

               }


           </ul>
    </div>

    <div>
        @RenderBody()
    </div>


    <div class="footer l-box">
        <p>
            <a href="#">Try now</a> for 14 days. No credit card required. Header image courtesy of <a href='http://unsplash.com/'>Unsplash</a>.
        </p>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>