@using Microsoft.AspNetCore.Http

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ASP .NET</title>

    <!--DO NOT DELETE THE LINE BELOW OR ELSE WEBSITE WILL NOT FUNCTION PROPERLY-->
    <partial name="_CookieConsentPartial" />

    <environment include="Development">
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
        <!--<![endif]-->
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/layouts/pricing-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="css/layouts/price.css">
        <!--<![endif]-->
        <link rel="stylesheet" href="~/css/price.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">

        <!--[if lte IE 8]>
            <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
        <!--<![endif]-->
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/layouts/pricing-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="css/layouts/price.css">
        <!--<![endif]-->
        <link rel="stylesheet" href="~/css/price.css" />
    </environment>
</head>
<body>

    <div class="pure-menu pure-menu-horizontal">
        <a <a asp-controller="Home" asp-action="Index" class="pure-menu-heading">Web Schedule</a>
           <ul class="pure-menu-list">

               @if (Context.Session.GetInt32("RoleId") == 3)
               {
                   <li class="pure-menu-item"><a asp-controller="Coaches" asp-action="Index" class="pure-menu-link"><i class="fa fa-handshake"></i> Coaches</a></li>

                   <li class="pure-menu-item"><a asp-controller="Schedules" asp-action="Index" class="pure-menu-link"><i class="fa fa-edit"></i> Schedules</a></li>

                   <li class="pure-menu-item"><a asp-controller="Events" asp-action="Index" class="pure-menu-link"><i class="fa fa-calendar-alt"></i> Events</a></li>



                   <ul class="pure-menu-list">
                       <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                           <a href="#" id="menuLink1" class="pure-menu-link"><i class="fa fa-user"></i> Account</a>
                           <ul class="pure-menu-children">
                               <li class="pure-menu-item"><a href="#" class="pure-menu-link">Options</a></li>
                               <li class="pure-menu-item"><a asp-controller="Home" asp-action="Logout" class="pure-menu-link">Sign Out</a></li>
                           </ul>
                       </li>
                   </ul>
               }
               else if (Context.Session.GetString("RoleId") == "2")
               {
                   <li class="pure-menu-item"><a asp-controller="Schedules" asp-action="Index" class="pure-menu-link"><i class="fa fa-edit"></i> Schedules</a></li>

                   <li class="pure-menu-item"><a asp-controller="Events" asp-action="Index" class="pure-menu-link"><i class="fa fa-calendar-alt"></i> Events</a></li>


                   <ul class="pure-menu-list">
                       <li class="pure-menu-item"><i class="fa fa-user"></i></li>
                       <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                           <a href="#" id="menuLink1" class="pure-menu-link"><i class="fa fa-user"></i> Account</a>
                           <ul class="pure-menu-children">
                               <li class="pure-menu-item"><a href="#" class="pure-menu-link">Options</a></li>
                               <li class="pure-menu-item"><a asp-controller="Home" asp-action="Logout" class="pure-menu-link">Sign Out</a></li>
                           </ul>
                       </li>

                   </ul>

               }
               else if (Context.Session.GetString("RoleId") == "1")
               {

                   <li class="pure-menu-item"><a asp-controller="Roles" asp-action="Index" class="pure-menu-link"><i class="fa fa-user-circle"></i> Roles</a></li>

                   <li class="pure-menu-item"><a asp-controller="Events" asp-action="Index" class="pure-menu-link"><i class="fa fa-calendar-alt"></i> Events</a></li>

                   <li class="pure-menu-item"><a asp-controller="Coaches" asp-action="Index" class="pure-menu-link"><i class="fa fa-handshake"></i> Coaches</a></li>

                   <li class="pure-menu-item"><a asp-controller="Members" asp-action="Index" class="pure-menu-link"><i class="fa fa-users"></i> Members</a></li>

                   <li class="pure-menu-item"><a asp-controller="Schedules" asp-action="Index" class="pure-menu-link"><i class="fa fa-edit"></i> Schedules</a></li>

                   <ul class="pure-menu-list">
                       <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                           <a href="#" id="menuLink1" class="pure-menu-link"><i class="fa fa-user"></i> Account</a>
                           <ul class="pure-menu-children">
                               <li class="pure-menu-item"><a href="#" class="pure-menu-link">Options</a></li>
                               <li class="pure-menu-item"><a asp-controller="Home" asp-action="Logout" class="pure-menu-link">Sign Out</a></li>
                           </ul>
                       </li>

                   </ul>

               }
               else
               {
                   <li class="pure-menu-item"><a asp-controller="Home" asp-action="Register" class="pure-menu-link">Register</a></li>
                   <li class="pure-menu-item"><i class="fa fa-user-circle"></i></li>
                   <li class="pure-menu-item"><a asp-controller="Home" asp-action="Login" class="pure-menu-link">Login</a></li>
               }

           </ul>
    </div>

    <div>
        @RenderBody()
    </div>


    <div class="footer l-box">
        <p>Hello this webpage was developed as a group assesment for HIT337, this group consisted of Jason Mu, Andrew Thai, Quang Tran, Rayven Nguyen.</p>
        <p>
            Disclaimer for AFTS If you require any more information or have any questions about our site’s disclaimer,
            please feel free to contact us by email at Web.Support@cdu.edu.au.
            This Webpage was written and designed by Eric, Shaayka, Hartik 2020. Copyright

        </p>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>