@model WebApplication1.Models.Member
@{
    ViewData["Title"] = "Register";
}

<h2 class="heading">Register</h2>
<div class="card">
    <div class="container">
<div class="form-horizontal">
    <form asp-controller="Home" asp-action="Register" method="post">
        @if (ViewBag.Message != null)
        {
            <div class="form-control">
                <div class="col-md 10">@ViewBag.Message</div>
            </div>

        }

        <div class="form-group mx-sm-3 mb-2">
            <label asp-for="Name" class="col-sm-2 col-form-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" placeholder="Please enter your Name."/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <label asp-for="Nickname" class="col-sm-2 col-form-label"></label>
            <div class="col-md-10">
                <input asp-for="Nickname" class="form-control" placeholder="Please enter your Nickname."/>
                <span asp-validation-for="Nickname" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <label asp-for="Email" class="col-sm-2 col-form-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" placeholder="example@example.com"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <label asp-for="Password" class="col-sm-2 col-form-label"></label>
            <div class="col-md-10">
                <input asp-for="Password" class="form-control" placeholder="Please enter your Password."/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <label asp-for="Dob" class="col-sm-2 col-form-label"></label>
            <div class="col-md-10">
                <input asp-for="Dob" class="form-control" />
                <span asp-validation-for="Dob" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <label asp-for="Gender" class="col-sm-2 col-form-label"></label>
            <div class="col-md-10">
                <input asp-for="Gender" class="form-control" placeholder="Please enter you Gender."/>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <label asp-for="Biography" class="col-sm-2 col-form-label"></label>
            <div class="col-md-10">
                <input asp-for="Biography" class="form-control" placeholder="Please type your Biography."/>
                <span asp-validation-for="Biography" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-outline-primary">Register</button>
            </div>
        </div>

        <p>
            Once your account is created, you will be able to contact and interact with multiple users and coaches. This scheduler allows the user to create
            plans and organise events with the entire community
        </p>

    </form>
</div>
</div>
</div>
